h1 {
    margin-bottom: 20px;
}

span {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    width: 80%;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 0;
    background-color: #20232a;;
}

button {
    height: 40px;
    width: 18%;
    margin-left: 2%;
    padding: 0px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #20232a;
    border: 2px solid #20232a;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 1px;
    transition: color .25s ease-in-out;
}

button:hover {
    color: #61dafb;
}